@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #f0f0f0;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 1%;
  padding-right: 1%;
}

.btn{
  padding: 10px 5px;
  font-size: 15px;
  border: 0;
  background: #fff;
  color: #141313;
  cursor: pointer;
  border-radius: 40px;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img{
  width: 70px;
  margin-left: 10px;
}